<div class="container">
  <nav>
    <search-panel></search-panel>
    <switcher></switcher>
  </nav>
  <section>
    <div
      class="image-container"
      ngx-masonry
      [options]="masonryOptions"
      [updateLayout]="updateMasonryLayout"
      [ordered]="true"
      *ngIf="imageService.images$ | async as images"
    >
      <div
        class="image-card"
        ngxMasonryItem
        *ngFor="let image of images"
      >
        <img [src]="image.urls.small" alt="image.description">
      </div>
    </div>
  </section>
</div>
