<div class="container">
  <nav>
    <search-panel></search-panel>
    <switcher></switcher>
    <div class="tg-list">
      <input class="tgl tgl-flip" id="cb5" type="checkbox" (click)="columnsToggle()">
      <label class="tgl-btn" data-tg-off="Big" data-tg-on="Small" for="cb5"></label>
    </div>
  </nav>
  <section>
    <div
      class="image-container"
      ngx-masonry
      [options]="masonryOptions"
      [updateLayout]="updateMasonryLayout"
      [ordered]="true"
      *ngIf="imageService.images$ | async as images"
    >
      <div
        class="image-card"
        ngxMasonryItem
        *ngFor="let image of images"
        [class.image-card-small]="isSmallImages"
      >
        <img [src]="image.urls.small" alt="image.description">
      </div>
    </div>
  </section>
</div>
