
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gallery-rxjs-primary: mat.define-palette(mat.$indigo-palette);
$gallery-rxjs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gallery-rxjs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gallery-rxjs-theme: mat.define-light-theme((
  color: (
    primary: $gallery-rxjs-primary,
    accent: $gallery-rxjs-accent,
    warn: $gallery-rxjs-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gallery-rxjs-theme);

@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "src/app/utils/style-functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(169, 169, 169, .5);
    &:hover {
      background-color: rgba(169, 169, 169);
    }
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F2F2F2;
  color: #111827;
  padding-bottom: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

